body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e6c2;
    color: #333;
    padding-bottom: 100px;
    
}
body.reached-bottom footer{
    transform: translateY(0);
}

header {
    background-color: #697e8d;
    color: #000000;
    text-align: center;
    padding: 1rem 0;
    height: 40px;
    background: linear-gradient(to bottom, #697e8d, rgba(105, 126, 141, 0));

}

header h1 {
    margin: 0;
    font-size: 3vw;     
}

main {
    padding: 32px;
}

section {
    margin-bottom: 32px;
}

section h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 8px;
}

section p {
    font-size: 16px;
    margin-bottom: 16px;
}

.btn {
    display: inline-block;
    background-color: #c3a770;
    color: #ffffff; 
    padding: 8px 16px; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

nav {
    margin: 32px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #697e8d;
    font-size: 1.2rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

nav ul li a:hover {
    border-bottom: 2px solid #333;
}

footer {
    background-color: #c3a770;
    color: #e9e6c2;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to top, #697e8d, rgba(105, 126, 141, 0));
}
.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;    
    background-color: #697e8d;
    height: 50px;  
    font-size: 20px;
         
}


        /* Mobile Styles */
        @media (max-width: 600px) {
            .navbar {
                flex-direction: column; /* Stack links vertically */
                height: auto; /* Adjust height for vertical layout */
            }
            .navbar a {
                padding: 10px 0; /* Adjust padding for smaller links */
                font-size: 18px; /* Adjust font size for readability on mobile */
            }
        }

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.imageBar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    background: #fff;

}

.imageBar img {
    width: 100%;
    height: auto;
    max-width: 100%;

}